<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.35.0/tabler-icons.min.css">

<div class="card flex-fill">
	<div class="card-stamp">
		<div class="card-stamp-icon bg-yellow">
			<i class="ti ti-sun"></i>
		</div>
	</div>
	<div class="card-body">
		<span class="text-dark float-end h6">
			<span id="tilted-time">!</span>&nbsp;<i class="ti ti-clock"></i>
		</span>
		<span class="card-title text-red">
			<i class="ti ti-solar-panel-2"></i>&nbsp;<span id="tilted-val">!</span>
		</span>
	</div>
	<div class="card-body">
		<span class="text-muted float-end h6">
			<span id="direct-time">!</span>&nbsp;<i class="ti ti-clock"></i>
		</span>
		<span class="card-title text-orange">
			<i class="ti ti-solar-panel-2"></i>&nbsp;<span id="direct-val">!</span>
		</span>
	</div>
	<div class="card-body">
		<span class="text-muted float-end h6">
			<span id="diffuse-time">!</span>&nbsp;<i class="ti ti-clock"></i>
		</span>
		<span class="card-title text-yellow">
			<i class="ti ti-sun-wind"></i> <span id="diffuse-val">!</span>
		</span>
	</div>
</div>
