<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.4.0/dist/css/tabler.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/3.35.0/tabler-icons.min.css">
<ul class="timeline timeline-simple">
	<li class="timeline-event">
		<div class="card timeline-event-card">
			<div class="card-stamp">
				<div class="card-stamp-icon bg-orange">
					<i class="ti ti-sunrise"></i>
				</div>
			</div>
			<div class="card-body bg-orange-lt">
				<h3><i class="ti ti-sunrise-filled"></i>&nbsp;<span id="sunrise-val">!</span></h3>
			</div>
		</div>
	</li>
	<li class="timeline-event">
		<div class="card timeline-event-card">
			<div class="card-stamp">
				<div class="card-stamp-icon bg-gray">
					<i class="ti ti-brightness"></i>
				</div>
			</div>
			<div class="card-body">
				<h3><i class="ti ti-brightness"></i>&nbsp;<span id="daylight-val">!</span></h3>
			</div>
		</div>
	</li>
	<li class="timeline-event">
		<div class="card timeline-event-card">
			<div class="card-stamp">
				<div class="card-stamp-icon bg-purple">
					<i class="ti ti-sunset"></i>
				</div>
			</div>
			<div class="card-body bg-purple-lt">
				<h3><i class="ti ti-sunset-filled"></i>&nbsp;<span id="sunset-val">!</span></h3>
			</div>
		</div>
	</li>
</ul>
