:root {
	font-family: InterVariable, sans-serif;
}

@supports (font-variation-settings: normal) {
	:root {
		font-family: 'InterVariable', sans-serif;
	}
}

/* Sidebar Customization */
.nav-minimal {
	width: 64px !important;
}

